<div class="container">
  <table>
    <tr>
      <th>Plan</th>
      <th>Price</th>
      <th></th>
    </tr>
    <tr>
      <td>Monthly</td>
      <td>£30</td>
      <td>
        <a href="/subscribe/monthly" class="btn">SUBSCRIBE</a>
      </td>
    </tr>
    <tr>
      <td>Yearly</td>
      <td>£306</td>
      <td>
        <a href="/subscribe/yearly" class="btn">SUBSCRIBE</a>
      </td>
    </tr>
  </table>
</div>